@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/btn";
@import "components/composition";
@import "components/feature-box";
@import "components/card";
@import "components/story";
@import "components/bg-video";
@import "components/form";

@import "layout/footer";
@import "layout/grid";
@import "layout/header";

@import "pages/home";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// Defines 1 rem
html {
  font-size: 62.5%;
}

// Defines border layout method
body {
  box-sizing: border-box;
}
