.section-about {
  background: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20rem;
}

.section-features {
  margin-top: -11rem;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      $color-primary-light,
      $color-primary-dark
    ),
    url("../Ex5-ProjectNaturos/img/nat-4.jpg");
  background-size: cover;
  background-position: top;
  // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  transform: skewY(-7deg);
  //Direct childs
  & > * {
    transform: skewY(7deg);
  }
}
